.App-content {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 100px 0 0;
  color: #282c34;

  form {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__inner {
    flex: 1;
    padding: 0 10px 0 0;
    position: relative;

    .append-icon {
      position: absolute;
      right: 20px;
      top: 14px;
      margin: auto;
      color: #626e87;
    }
  }
}

.label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #626e87;
  margin: 0 0 10px;
}

.input {
  -webkit-appearance: none;
  border: 1px solid #ced8e5;
  background-color: #ffffff;
  padding: 12px;
  outline: none;
  font-size: 14px;
  width: 100%;
  border-radius: 2px;
}

.btn {
  -webkit-appearance: none;
  border-radius: 2px;
  background-color: #226ed3;
  border: 1px solid #226ed3;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

  &:disabled {
    background-color: #a6c5ed;
    border-color: #a6c5ed;
    cursor: not-allowed;
  }
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 8%);
  list-style-type: none;
  padding: 0;
  margin: 0;

  &--loading {
    padding: 12px;
    color: #2e3b4c;
    text-align: center;
  }

  &__item {
    padding: 12px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #2e3b4c;

    &:hover {
      background-color: #f4f5f7;
    }

    + a {
      border-top: 1px solid #e9edf2;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 8px;

    em {
      color: #ff8221;
    }
  }

  &__meta {
    color: #80899a;
    font-size: 12px;
  }
}

.alert {
  color: #842029;
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  padding: 12px;
  font-size: 14px;
  margin: 10px 0 0;

  p {
    margin: 0 0 12px;
  }
}
